// Body
$body-bg: #f8fafc;
$body-color: #4F5D73;

// Typography
$font-family-sans-serif: 'Product Sans', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #081047;
$indigo: #081047;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$theme-colors: (
  "primary": #161547,
  "secondary": #D888A2,
  "danger": #ef3b5b
);


$btn-border-radius:           500px;
$btn-border-radius-lg:        500px;
$btn-border-radius-sm:        500px;
