
.recuadro1 {
    position: relative;
    margin-top: 71px;
    margin-left: clamp(10px, 5vw, 71px);

    width: clamp(100px, 50%, 540px);

    text-align: center;
    z-index: 5;
}

.recuadro1 h1 {
    text-align: justify;
    font-family: Product Sans;
    font-style: normal;
    font-weight: bold;
    font-size: clamp(40px, 4vw, 65px);
    line-height: 101.8%;
    /* or 66px */

    letter-spacing: -0.01em;
}

.subtitulo1 {
    margin-top: 60px;
    font-family: Product Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    /* identical to box height, or 100% */


    text-align: left;
    color: #1F71B8;

    opacity: 0.7;
}

.lineas-izq {
    max-width: 50%;
}

.barra-botones {
    display: flex;
    margin-left: -5px;
    gap: 23px;

    padding-top: 8.74px;
    padding-bottom: 8.01px;
    padding-left: 10.02px;
    padding-right: 10.02px;

    background: #FFFFFF;
    border: 1px solid #E3FFFF;
    box-sizing: border-box;
    border-radius: 72.5px;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0531481), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0425185), 0px 20px 13px rgba(0, 0, 0, 0.035), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0274815), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.0168519);
}

.barra-botones > :first-child {
    width: 100%;
}

.barra-botones > :last-child {
    width: 100%;
}

.recuadro2 {
    position: absolute;
    top: 300px;
    right: 0;
    z-index: 2;
    max-width: 40%;
}

.recuadro3 {
    top: -50px;
    right: -200px;
    position: absolute;
    z-index: 3;
}

.recuadro4 {
    position: absolute;
    top: 100px;
    right: 15px;
    max-width: 40%;
    z-index: 3;
}

.barra-medio {
    margin-top: -50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    background: #FFF2F6;
    box-shadow: inset 0px 4px 9px rgba(155, 182, 206, 0.25);
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 5;
}

.barra-medio :first-child {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.barra-medio :not(:first-child) {
    max-width: 100%;
    min-width: 0px;
    z-index: 2;
}

.recuadro5 {
    margin-top: 43px;
    margin-left: auto;
    margin-right: 100px;
    max-width: 500px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.recuadro5 :first-child {
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 101.8%;
    /* or 39px */

    text-align: right;
    letter-spacing: -0.01em;

    color: #7D8790;
}

.recuadro5 :last-child {
    font-style: normal;
    font-weight: bold;
    font-size: 65px;
    line-height: 101.8%;
    /* or 66px */

    text-align: right;
    letter-spacing: -0.01em;

    color: #F6AAC3;
}

.pasos {
    position: relative;
    z-index: 5;
    margin-top: 100px;
    margin-left: 40px;
    margin-right: 40px;
    max-width: 1000px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    row-gap: 200px;
    column-gap: 64px;
}

.pasos > div {
    display: grid;
    grid-template-columns: 121px auto;
    column-gap: 40px;
    row-gap: 1rem;
}

.pasos .numero {
    grid-row: 1 / span 2;
    width: 116px;
    height: 116px;
    border-radius: 50%;

    background: #161547;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.25);

    font-weight: bold;
    font-size: 85px;
    line-height: 101.8%;
    /* identical to box height, or 87px */

    text-align: center;
    letter-spacing: -0.01em;

    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.pasos .numero .logo {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(25%, -25%);

    width: 46px;
    height: 46px;

    border-radius: 50%;

    background: #7ACADE;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);

    object-fit: scale-down;
    object-position: center;
}

.pasos :last-child .numero .logo {
    background: #F0CD0A;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
}

.pasos .tit {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 101.8%;
    /* or 31px */

    letter-spacing: -0.01em;

    color: #000000 !important;
}

.pasos .descripcion {
    font-weight: normal;
    font-size: 20px;
    line-height: 101.8%;
    /* or 20px */

    letter-spacing: -0.01em;

    color: #7D8790;
}

.mano {
    position: absolute;
    right: 0;
    top: 30px;
    max-width: 50%;
    z-index: 4;
}

.mano img {
    max-width: 100%;
    object-fit: cover;
}

.porcientos {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.porcientos .redondo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: clamp(105px, 25vw, 180px);
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #FFFFFF;
    box-shadow: 0px 5px 18px #EBF1FF;
    gap: 7px;
    padding: 20px;
}

.porcientos .redondo > :first-child {
    font-weight: bold;
    font-size: clamp(30px, 2.9vw, 55px);
    line-height: calc(clamp(30px, 2.9vw, 55px) + 10px);
    /* identical to box height */
    letter-spacing: -2px;

    color: #333333;
}

.porcientos .redondo > :last-child {
    font-weight: normal;
    font-size: clamp(10px, 1.9vw, 16px);
    line-height: calc(clamp(10px, 2.9vw, 16px) + 9px);
    /* or 150% */
    text-align: center;
    color: #000000;
}

.comentarios {
    text-align: center;
    margin-top: 84px;
    color: #F6AAC3;
    padding-left: 40px;
}

.comentarios h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 101.8%;
    /* identical to box height, or 46px */

    letter-spacing: -0.01em;
}

.comentarios .comments {
    margin-top: 42px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: clamp(2px, 2vw, 35px);
}

.comments .cards {
    position: relative;
    display: flex;
    padding: 15px;
    gap: 15px;

    background: #FFFFFF;
    backdrop-filter: blur(30px);

    border-radius: 10px;
    filter: drop-shadow(0px 4px 14px rgba(183, 136, 188, 0.37));
}

.comments .cards > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.comments img {
    border: none;
    width: 77px;
    height: 77px;
    border-radius: 10px;
    overflow: hidden;
    object-fit: cover;
}

.comments .cards .medalla {
    width: 26px;
    height: 41px;
    position: absolute;
    top: 0;
    right: 15px;
    border-radius: unset;
}

.comments .cards .nombre {
    text-align: left;
    color: #000000;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
}

.comments .cards .comentario {
    text-align: left;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */


    color: #7D8790;
}

.agentes {
    position: relative;
    display: flex;
    margin-top: 181px;
    margin-right: clamp(0px, 3vw, 85px);
    justify-content: flex-end;
    align-items: center;
    gap: clamp(10px, 5vw, 115px);
    z-index: 2;
}

.agentes .textos {
    text-align: right;
}

.agentes .textos :first-child {
    font-size: 17px;
    line-height: 24px;
    /* or 141% */

    text-align: right;

    color: #7D8790;
    text-transform: uppercase;
}

.agentes .textos :nth-child(2) {
    font-weight: bold;
    font-size: 57px;
    line-height: 60px;

    text-align: right;

    color: #161547;

    margin-top: 14px;
    margin-bottom: 29px;
}

.agentes .textos :last-child {
    font-size: 27px;
    line-height: 28px;
    text-align: right;
    color: #7D8790;
}

.pagos {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 206px;
    justify-content: space-around;
    margin-left: clamp(10px, 4vw, 40px);
    margin-right: clamp(10px, 4vw, 40px);
    gap: clamp(10px, 5vw, 115px);
    z-index: 2;
}

.pagos > img {
    display: block;
    max-width: clamp(200px, 30vw, 550px);
    aspect-ratio: 1.8;
    object-fit: contain;
}

.pagos-text > div:first-child {
    font-size: 17px;
    line-height: 24px;
    color: #7D8790;
}


.pagos-text > div:nth-child(2) {
    font-weight: bold;
    font-size: 57px;
    line-height: 58px;
    color: #2F93CE;
    margin-top: 14px;
}

.pagos-text .resaltar {
    color: #61B77C;
}

.pagos-text > div:nth-child(3) {
    margin-top: 76px;
    font-size: 27px;
    line-height: 28px;
    color: #7D8790;
}


.vector9 {
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 500px;
}

.vector10 {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.textos-mobile {
    display: none;
}
.agente-texto-mobile {
    display: none;
}

@media (max-width: 900px) {

    .recuadro1 {
        position: relative;
        margin-top: 50px;
        margin-left: 37px;

        width: clamp(100px, 100%, 540px);

        z-index: 5;
    }

    .recuadro1 .titulo {
        text-align: left;
        font-size: 25px;
        line-height: 101.8%;
        /* or 25px */

        letter-spacing: -0.01em;
    }

    .recuadro1 .subtitulo1 {
        margin-top: clamp(120px, 30vw,120px);
        font-size: 20px;
        line-height: 30px;
        
        color: #1F71B8;
        opacity: 0.7;
    }
    .barra-botones {
        max-width: 90%;
    }

    .mano {
        top: calc(200px - 20vw);
        max-width: 70%;
    }

    .porcientos {
        position: relative;
        margin-top: calc(250px - 14vw);
        width: 140%;
        transform: translateX(-30%);
    }

    .porcientos .redondo {
        padding: 0;
        gap: 0;
    }

    .barra-medio {
        margin-top: 150px;
        width: calc(100% + 20px);
        transform: translateX(-10px);
    }

    .recuadro5 {
        margin-right: 22px;
    }

    .recuadro5 :first-child {
        font-size: 20px;
    }
    
    .recuadro5 :last-child {
        font-size: 35px;
    }

    .pasos {
        row-gap: 67px;
        column-gap: 20px;
    }

    .pasos > div {
        display: grid;
        grid-template-columns: 40px auto;
        column-gap: 12px;
        row-gap: 1rem;
    }
    
    .pasos .numero {
        grid-row: 1 / span 2;
        width: 38px;
        height: 38px;
        font-size: 27px;
    }
    
    .pasos .numero .logo {
        width: 18px;
        height: 18px;
        padding: 3px;
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .pasos .tit {
        font-size: 10px;
    }
    
    .pasos .descripcion {
        font-size: 9px;
    }

    .comentarios h3 {
        font-size: 35px;
        text-align: left;
    }

    .comentarios .comments {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: clamp(5px, 3vw, 35px);
    }

    .comments .cards .nombre {
        font-size: 16px;
        line-height: 24px;
    }
    
    .comments .cards .comentario {
        font-size: 16px;
        line-height: 17px;
    }

    /*Agentes*/
    .textos-mobile {
        position: relative;
        display: block;
        margin-top: 40px;
        margin-left: 40px;
        z-index: 4;
    }

    .textos-mobile > div:first-child {
        font-size: 17px;
        line-height: 24px;
        /* or 141% */
        color: #7D8790;
    }
    .textos-mobile > div:last-child {
        font-weight: bold;
        font-size: 35px;
        line-height: 38px;
        color: #081047;
    }

    .agentes {
        margin-top: 50px;
        margin-right:24px;
        margin-left: 40px;
        gap: 20px;
        z-index: 2;
    }

    .agentes .textos {
        display: none;
    }
    .agente-texto-mobile {
        display: block;
        font-size: 10px;
        line-height: 14px;
        /* or 140% */

        text-align: right;

        color: #7D8790;
    }
    .agente {
        max-width: 50%;
    }

    /*Pagos*/
    .pagos {
        flex-direction: column-reverse;
        margin-top: 80px;
        margin-left: clamp(10px, 4vw, 40px);
        margin-right: 30px;
        gap: 15px;
        z-index: 2;
    }
    
    .pagos > img {
        display: block;
        max-width: 100%;
        aspect-ratio: 1.8;
        object-fit: contain;
    }
    
    .pagos-text > div:first-child {
        display: none;
    }
    
    
    .pagos-text > div:nth-child(2) {
        font-size: 35px;
        line-height: 34px;
        /* or 97% */

        text-align: right;
    }
    
    .pagos-text .resaltar {
        color: #61B77C;
    }
    
    .pagos-text > div:nth-child(3) {
        font-size: 15px;
        line-height: 24px;
        /* or 160% */

        text-align: right;
        margin-top: 14px;
    }
    
}

@media (max-width: 700px) {
    .recuadro1 {
        margin-left: 20px;
        margin-right: 20px;
        width: calc(100% - 40px);
    }

    .recuadro1 .barra-botones {
        width: 100%;
        max-width: 100%;
        margin: 0;
    }
}